.footer {
    background-color: black;
    text-align: center;
    padding: 100px;
  }
.card-costumization-1
{
  background-color:whitesmoke; 
  border-color: white; 
  border-radius: 5pt;
  margin-bottom: 30px;
  width: 40rem;
  
  
}

.nav-a{
  font-size: 0.6em !important;
  }